<div class="footer bg-dark d-flex align-items-center justify-content-center flex-column" >
    <div class="input-group mb-3 w-25">
        <input type="text" class="form-control" aria-label="EmailID" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Subscribe for Newsletter</span>
      </div>
  <div class="icons">
  <img src="https://img.icons8.com/color/1x/instagram-new--v1.png" alt="">
  <img src="https://img.icons8.com/office/1x/facebook-new.png" alt="">
  <img src="https://img.icons8.com/office/1x/twitter-circled.png" alt="">
</div>
</div>
